body{
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0, 150, 136) 20%,rgb(217, 219, 212) 0%);
  justify-content: center;
  align-items: center;
}

/*GENERAL*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

i:hover{
  cursor: pointer;
}

/*UTILITIES*/

.d-f{
  display: flex;
}

.grey{
  color: rgb(177, 177, 177);
}

/*CSS*/

#app{
  background-color: rgb(234, 234, 234);
  width: 80vw;
  height: 90vh;
}

.left-sidebar{
  width: 40%;
  height: 100%;
}

.toolsbar{
  width: 100%;
  height: 25%;
}

.main-user{
  background-color: rgb(219, 217, 217);
  height: 40%;
  justify-content: space-between;
  border-right: 1px solid rgb(204, 199, 199);
}

.main-user div{
  height: 100%;
  align-items: center;
}

.main-user div img{
  height: 80%;
  border-radius: 50%;
  padding-left: 10px;
}

.main-user div span{
  font-weight: bold;
  padding-left: 10px;
}

.left-icons{
  gap: 20px;
  padding-right: 20px;
}

.left-icons i{
  font-size: 25px;
}

.notification{
  background-color: rgb(142, 218, 252);
  height: 40%;
  align-items: center;
}

.notification i{
  border-radius: 50%;
  background-color: rgb(242, 251, 255);
  padding: 20px;
  font-size: 25px;
  color: rgb(142, 218, 252);
  margin-left: 20px;
  margin-right: 10px;
}

.notification h3{
  font-size: 15px;
  font-weight: bold;
}

.notification span{
  font-size: 13px;
  text-decoration: underline;
  color: rgb(85, 80, 80);
}

.search{
  height: 20%;
  justify-content: center;
  align-items: center;
}

#searchbar{
  width: 96%;
  height: 70%;
}

.msglist{
  height: 75%;
  overflow-y: scroll;
}

.contact{
  align-items: center;
  border-top: 1px solid rgb(204, 199, 199);
  padding: 10px 0;
  position: relative;
}

.profile-image{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
}

.contact div{
  margin-left: 20px;
}

.name{
  font-size: 18px;
}

.contact span{
  font-size: 13px;
}

.lasthour{
  position: absolute;
  right: 20px;
}

/*RIGHT SIDEBAR*/

.right-sidebar{
  width: 60%;
  height: 100%;
}

.menu{
  background-color: rgb(219, 217, 217);
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}

.talking-user{
  height: 100%;
  align-items: center;
}

.talking-user img{
  height: 80%;
  border-radius: 50%;
  padding-left: 10px;
}

.talking-user span{
  font-weight: bold;
  padding-left: 10px;
}

.right-icons{
  padding-right: 20px;
  gap: 20px;
}

.right-icons i{
  font-size: 25px;
}

.container-text{
  background-image: url('../img/mine.jpg');
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.container-write{
  background-color: rgb(219, 217, 217);
  width: 100%;
  height: 10%;
}

.emote{
  width: 10%;
  justify-content: center;
  align-items: center;
}

.write{
  width: 80%;
}

.mic{
  width: 10%;
  justify-content: center;
  align-items: center;
}

.emote i, .mic i{
  font-size: 30px;
  color: rgb(107, 115, 118);
}

#message-write{
  width: 100%;
  height: 80%;
  align-self: center;
  border-radius: 8px;
  padding-left: 20px;
  border-style: none;
}